<launch>

  <arg name="NUM" default="0"/>
  <arg name="JSIZE" default="16"/>
  <arg name="PERIOD" default="0.005"/>

  <!-- switch between the position and manipulation -->
  <node name="switch_position"
        type="connector_node"
        pkg="topic_connector"
        output="screen" >

    <!-- topic remappings -->
    <remap from="in1" to="position_torque"/>
    <remap from="in2" to="manipulation_torque"/>
    <remap from="out" to="control_out"/>

    <param name="connector_type" value="switch"/>
    <param name="joint_count" value="$(arg JSIZE)"/>
    <param name="period" value="$(arg PERIOD)"/>
  </node>

  <!-- Envelop switch chooses between the basic and the spring envelop torques-->
  <node name="switch_envelop"
        type="connector_node"
        pkg="topic_connector"
        output="screen" >

    <!-- topic remappings -->
    <remap from="in1" to="envelop_torque"/>
    <remap from="in2" to="spring_envelop_torque"/>
    <remap from="out" to="envelop_out"/>

    <param name="connector_type" value="switch"/>
    <param name="joint_count" value="$(arg JSIZE)"/>
    <param name="period" value="$(arg PERIOD)"/>
  </node>

  <!-- Sums grasp and control torques -->
  <node name="adder_control"
    type="connector_node"
    pkg="topic_connector"
    output="screen" >

    <!-- topic remappings -->
    <remap from="in1" to="control_out"/>
    <remap from="in2" to="envelop_out"/>
    <remap from="out" to="merged_torque"/>

    <param name="connector_type" value="adder"/>
    <param name="joint_count" value="$(arg JSIZE)"/>
    <param name="period" value="$(arg PERIOD)"/>
  </node>

  <!-- Adds gravity compensation on top of the merged torque-->
  <node name="adder_gravity"
        type="connector_node"
        pkg="topic_connector"
        output="screen" >

    <!-- topic remappings -->
    <remap from="in1" to="gravity_compensation_torque"/>
    <remap from="in2" to="merged_torque"/>
    <remap from="out" to="allegroHand_$(arg NUM)/torque_cmd"/>

    <param name="connector_type" value="adder"/>
    <param name="joint_count" value="$(arg JSIZE)"/>
    <param name="period" value="$(arg PERIOD)"/>
  </node>
</launch>
