<launch>

  <arg name="LABEL" default="0" />

  <arg name="NUM" default="0"/>

  <arg name="TORQUE_TOPIC" default="gravity_compensation_torque"/>

  <node name="gravity_compensate_$(arg LABEL)"
        type="gravity_compensate"
        pkg="allegro_hand_kdl"
        output="screen">

    <!-- topic remappings -->
    <remap from="joint_states" to="allegroHand_$(arg NUM)/joint_states"/>
    <remap from="base_pose" to="allegroHand_$(arg NUM)/base_pose"/>
    <remap from="gravity_compensation_torque" to="$(arg TORQUE_TOPIC)"/>

  </node>

</launch>
